/* line 8, ../../../compass/sass/_header.scss */
.dropdown-links a:nth-child(1) {
  top: 40px;
}

/* line 11, ../../../compass/sass/_header.scss */
.dropdown-links a:nth-child(2) {
  top: 60px;
}

/* line 14, ../../../compass/sass/_header.scss */
.dropdown-links a:nth-child(3) {
  top: 80px;
}

/* line 17, ../../../compass/sass/_header.scss */
.dropdown-links a:nth-child(4) {
  top: 100px;
}

/* line 20, ../../../compass/sass/_header.scss */
.dropdown-links a:nth-child(5) {
  top: 120px;
}

/* line 23, ../../../compass/sass/_header.scss */
.dropdown-links a:nth-child(6) {
  top: 140px;
}

/* line 26, ../../../compass/sass/_header.scss */
.dropdown-links a:nth-child(7) {
  top: 160px;
}

/* line 31, ../../../compass/sass/_header.scss */
.dropdown-links a:hover {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* line 37, ../../../compass/sass/_header.scss */
.nav.navbar-nav.float-right .text-right a {
  display: inline;
}

/* line 41, ../../../compass/sass/_header.scss */
.text-right {
  margin-top: 15px;
}

/* line 7, ../../../compass/sass/_footer.scss */
.main li {
  font-size: 1px;
}

/* line 12, ../../../compass/sass/_footer.scss */
.container {
  font-size: 14px;
}
/* line 14, ../../../compass/sass/_footer.scss */
.container li {
  list-style: none;
  font-size: 15px;
}
/* line 17, ../../../compass/sass/_footer.scss */
.container li a {
  text-decoration: none;
}
/* line 21, ../../../compass/sass/_footer.scss */
.container li {
  color: white;
}

/* line 1, ../../../compass/sass/_home.scss */
.pl-images {
  margin: 20px;
}
/* line 4, ../../../compass/sass/_home.scss */
.pl-images img {
  height: 256px;
  width: 256px;
  border: 5px solid #e6e6e6;
}
/* line 8, ../../../compass/sass/_home.scss */
.pl-images img:hover {
  border-color: #1d5E9A;
}
/* line 13, ../../../compass/sass/_home.scss */
.pl-images a {
  display: block;
  cursor: pointer;
}
/* line 17, ../../../compass/sass/_home.scss */
.pl-images .text {
  color: #121212;
  margin-bottom: 15px;
  font-size: 22px;
}

/* line 1, ../../../compass/sass/_products.scss */
.table-head {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
/* line 6, ../../../compass/sass/_products.scss */
.table-head:hover {
  text-decoration: underline;
}

/* line 16, ../../../compass/sass/_products.scss */
.table {
  text-align: left;
}

/* line 20, ../../../compass/sass/_products.scss */
.msrp {
  text-decoration: line-through;
}

/* line 1, ../../../compass/sass/_register.scss */
.register-field, .login-field {
  margin-top: 10px;
}
/* line 3, ../../../compass/sass/_register.scss */
.register-field button, .login-field button {
  margin-top: 10px;
}

/* line 8, ../../../compass/sass/_register.scss */
input {
  width: 300px;
}

/* line 12, ../../../compass/sass/_register.scss */
.badEmail {
  color: red;
}

/* line 1, ../../../compass/sass/_navbar.scss */
.left {
  font-family: 'Lobster', Georgia, Times, serif;
}

/* line 6, ../../../compass/sass/_navbar.scss */
.classic-models {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 30px;
}

/* line 12, ../../../compass/sass/_navbar.scss */
.float-right {
  float: right;
}

/* line 15, ../../../compass/sass/_navbar.scss */
.link {
  text-decoration: none;
}

/* line 19, ../../../compass/sass/_navbar.scss */
.link:hover {
  font-weight: bold;
}

/* line 23, ../../../compass/sass/_navbar.scss */
.dropdown {
  position: relative;
}

/* line 27, ../../../compass/sass/_navbar.scss */
.dropdown .dropdown-links {
  display: none;
}

/* line 31, ../../../compass/sass/_navbar.scss */
.dropdown:hover .dropdown-links {
  display: block;
}

/* line 35, ../../../compass/sass/_navbar.scss */
.dropdown-links a {
  display: block;
  position: absolute;
  left: 20px;
  background-color: #f8f8f8;
  border: 1px solid #999;
  width: 150px;
  text-align: left;
  color: #777;
  text-decoration: none;
}

/* line 47, ../../../compass/sass/_navbar.scss */
.text-right:hover {
  font-weight: bold;
  text-decoration: none;
}

/* line 52, ../../../compass/sass/_navbar.scss */
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* line 59, ../../../compass/sass/_navbar.scss */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* line 64, ../../../compass/sass/_navbar.scss */
.link {
  text-decoration: none;
}

/* line 68, ../../../compass/sass/_navbar.scss */
.slick-image img {
  width: 100vw;
}

/* line 72, ../../../compass/sass/_navbar.scss */
.nav.navbar-nav.float-right .text-right a {
  display: inline;
}

/* line 75, ../../../compass/sass/_navbar.scss */
.nav.navbar-nav.float-right .userNameLoggedIn {
  display: inline;
}

/* line 79, ../../../compass/sass/_navbar.scss */
.collapsed-shop-menu {
  display: block;
  padding-left: 20px;
  color: gray;
}

/* line 10, ../../../compass/sass/styles.scss */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/* line 17, ../../../compass/sass/styles.scss */
.App {
  text-align: center;
}

/* line 21, ../../../compass/sass/styles.scss */
.main {
  margin-top: 60px;
}
